$Ind   : #4B5665;
$PB    : #E1E4E6;
$SG    : #727D87;
$EB    : #4B5665;
$W     : #FFFFFF;
$MG    : #626E79;
$DC    : #074786;
$AB    : #F3F9FF;
$DB    : #1B88F4;
$Se    : #FFF4ED;
$So    : #F2F4F7;
$SGrey : #5C6874;
$GC    : #9FA9B3;

$XL    : xxx-large;
$FS12  : 12px;
$FS20  : 20px;

$FW400 : 400;
$FW700 : 700;

$LH60  : 60px;
$LH14  : 14px;
$LH20  : 20px;
$LH44  : 44px;

$H60   : 60px;
$H20   : 20px;
$H141  : 141px;
$H91   : 91px;
$H48   : 48px;
$H103  : 103px;
$H16   : 16px;

$W1024 : 1024px;
$W103  : 103px;
$W173  : 173px;
$W494  : 494px;
$W135  : 135px;
$W232  : 232px;
$W141  : 141px;
$W68   : 68px;
$W284  : 284px;
$W398  : 398px;
$W348  : 348px;
$W97   : 97px;

$M10     : 10px;
$ML284   : 284px;
$ML428   : 428px;
$ML280   : 280px;
$ML51    : 51px;
$ML261   : 261px;
$ML10    : 10px;
$ML83    : 83px;
$ML97    : 97px;
$ML107   : 107px;
$ML109   : 109px;
$ML12    : 12px;
$ML275   : 275px;
$ML16    : 16px;
$ML331   : 331px;
$ML77    : 77px;
$ML11    : 11px;
$ML6     : 6px;
$ML181   : 181px;
$ML130   : 130px;

$MT72  : 72px;
$MT31  : -31px;
$MT7   : -7px;
$MT60  : 60px;
$MT32  : 32px;
$MT15  : 15px;
$MT11  : 11px;

$MR100 : 100px;

$P10   : 10px;
$PL284 : 284px;
$PL293 : 293px;
$PL18  : 18px;
$PT24  : 24px;

$S48   : 48px;
$S22   : 22px;

$BR12  : 12px;
$FW400 : 400;
